body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  h1 {
    color: #1d7c38;
  }
  
  .navbar {
    margin-top: 20px;
    text-align: center;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar a.navbar-brand, .navbar a.navbar-brand:hover,
  .navbar a.navbar-nav .nav-link, .navbar a.navbar-nav .nav-link:hover {
    color: #1d7c38;
    text-decoration: none;
  }
  
  .navbar a.navbar-brand:hover, .navbar a.navbar-nav .nav-link:hover {
    color: #000000;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  img.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    color: #1d7c38;
  }
  
  .btn-color {
    background-color: #1d7c38;
    color: #fff;
  }
  